* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(images/background.png);
    background-position: center;
    background-size: cover;
}
/* navbar */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 170px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
}
/* hover effter on navbar */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;

}

/* ----content styling------ */
.content {
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 60%;
    text-align: center;
    color: #fff;
}
.title  {
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    overflow: hidden;
}
.content p {
    font-weight: 100px;
    line-height: 25px;
    margin: 20px auto;
}
button {
    margin: 20px;
    padding: 15px 25px;
    border: 2px solid #ffc107;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, #ffc107 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position .3s;
}
button:hover {
    background-position: right;
    color: #000;
}
/* -----------slider animation------- */
.slider  {
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}
@keyframes slider {
    0% { margin-top: -400px;}
    5% { margin-top: -200px;}
    30% { margin-top: -200px;}
    35% { margin-top: 0;}
    65% { margin-top: 0;}
    70% { margin-top: 200px;}
    100% { margin-top: 200px;}
}